.custom-carousel-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.custom-carousel-arrows {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

.arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.custom-carousel-content {
    display: flex;
    width: 100%;
    /* Adjust as needed */
    transition: transform 0.3s ease-in-out;
    transform: var(--transform-value);
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #f7f7f7;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}